/*
Name:Philip McGee
Date Created: 7/10/2019
Date of last revision: 7/19/2019
*/

header, footer {
	background-color: #6a381f;
	color: #fef9ff;
	text-align: center;
}
header {
	font-size: 3.0em;
	padding: 2px 2px 2px 2px;
	font-family: 'Playfair Display', serif, Arial, 'Courier New';
}
footer {
	font-size: 1.1em;
	padding-top: 2px;
	padding-bottom: 2px;
}

/*
	site navigation
	
*/
.nav{
	background-color: #6a381f;
	white-space: nowrap;
	overflow: hidden;
	
}
.nav a {
	background-color: #a47156;
	color: #fef9ff;
	border: none;
	border-bottom: 0px;
}
#contactTab, #menuTab, #homeTab {
	font-size: 1.3em;
	border: 0px;
}

.nav a:visited {
	color: #2e1000;
}
.nav li:hover a {
	font-weight: bold;
	background-color: #cab6ad;
	color: #0165f7;
}

.nav li:active a{
	font-weight: normal;
	
	color: blue;
}
a.active.nav-link{
	background-color: #2e1000!important;
	color: #a47156!important;
	}

/*
	site jumbotron

*/	
.jumbotron{
	text-align: center;
	background-color: #6a381f;
	color: #fef9ff;
	margin-bottom: 0px;
}

.noJavaScript {
	text-align: center;
	font-size: 2em;
	background-color: #ff1919;
	color: #000;
}



